name: Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Build
        run: ./gradlew build

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: build/libs/*.jar

      - name: Upload to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: aedans-unicorns
          name: ${{ github.event.release.name }}
          version: ${{ github.event.release.tag_name }}
          changelog: ${{ github.event.release.body }}
          loaders: paper
          game-versions: 1.21.1
          files: build/libs/aedans-unicorn-${{ github.event.release.tag_name }}.jar
